footer {
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #f5b30a;
    background-color: #32383d;
    border-radius: .2cm;
    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
}
body{
    background-color: #bfc4ce;
}


