body{
    padding: 70px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6ece7;
}

main{
    padding-left: 1em;
}

h1{
    color: #fcab1c;
    text-shadow: 2px 2px 5px #FFFFFF;
}

h2 {
    color: #353f44;
    text-shadow: 2px 2px 5px #FFFFFF;
}

label{
    color: #353f44;
    font-weight: bold;
}

span.result{
    color: #ff9800;
    font-weight: bolder;
    font-style: oblique;
}

div.choice-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    gap: 40px;
    justify-content: center;
    padding: 10px;
    /*flex-wrap: wrap;*/
    /*gap: 30px;*/
    /*align-items: center;*/
}

img.choice {
    width: 100px;
    height: 100px;
}



