body{
    padding-left: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6ece7;
}

main{
    padding-left: 1em;
}

h1{
    color: #673ab7;
    text-shadow: 2px 2px 5px #FFFFFF;
}

h2 {
    color: #673ab7;
    text-shadow: 2px 2px 5px #FFFFFF;
}

label{
    color: #673ab7;
    font-weight: bold;
}

span.result{
    color: #ff9800;
    font-weight: bolder;
    font-style: oblique;
}

div.choice-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

img.choice {
    width: 150px;
    height: 150px;
}



