<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>HeaderAndFooter</title>
</head>
<body>
<header th:fragment="Header">
    <h1>TV SHOW</h1>
</header>
<main>
    Some content in the main tag.
</main>
<footer th:fragment="Footer">
    George, George&nbsp;&nbsp;<span>----</span>&nbsp;&nbsp;
</footer>
</body>
</html>